body{
    background-color:#eeeeee;
margin:0px;
padding:0px;
font-family:'Fira Sans', sans-serif;}

img.img{
    width:100%;
}

.container1{
    position:relative;
    
}
.heading1{
    position:absolute;
    
     top:10%;
     left:30%;
     

    color:white;
    font-size: 3.3vw;
    text-align: center; 
}
.btx{
    
    position :absolute;
    top:70%;
    left:47%;
    
    color:white;
    border-color: white;
   
    text-align:center;
    margin-left: auto;
    margin-right:auto;
    
}


@media only screen and (max-width:600px){
    .heading1{
        position:absolute;
        
         top:10%;
         left:7%;
         
    
        color:white;
        font-size: 7vw;
        text-align:center;
         
    }
    .btx{
    position: relative;
        width:90%;
        left:0px;
        top:0px;
        color:black;
        border-color: none;;
        text-align: center;
        
        margin-left :5%;
        margin-top:5%;
        
    }
    .btn-outline-primary{
        border-color:black;
    }
}




.container2{

    position:relative;
    margin-top:3%;
}
.container2 img{

    width:100%;
}
.container2 h3{
    position:absolute;
    top:25%;
    left:25%;
    text-align: center;
   
    color:white;

}
.container2 .btnx{
    position:absolute;
    top:60%;
    color:white;
    background-color:transparent;
    
left:44%;

}
.container2 .btn-outline-primary{
    border-color:white;
}
@media only screen and (max-width:600px){
    .container2 h3{
        position:absolute;
        top:2%;
        left:4%;

        text-align: left;
       
        color:white;
        font-size:5vw ;
    


    }
    

    .container2 .btnx{
        position:absolute;
        top:104%;
        color:black;
        background-color:white;
        
left:35%;

    }


}





.container3{
    height:22vw;
    position: relative;
   
    background-color: #1A1818;
    color:white;
}


.container3 p{
    position:absolute;
    top:35%;
    left:27%;
    text-align:left;
    font-size:1.5vw;
    width:50%;
}
.hd{
width:100%;
    position:absolute;
    
   text-align: center;
}




@media only screen and (max-width:600px){
    .container3{
        height:40vw;
        position: relative;
       
        background-color: #1A1818;
        color:white;
    }
    
    .container3 p{
        position:absolute;
        top:35%;
        left:2%;
        text-align:left;
        font-size:3vw;
        width:100%;
    }
}






.head1{
    text-align: center;
}

img{
    width:100%;
}

h5{
    display:inline;
    text-align: center;
    color:#1C1B1B;
}
i{

    clear:left;
    margin:0px;
    color:#8B8787;
}
.textali{
    text-align:center;
    margin-bottom:30px ;
}
.ico{
    text-align:end;
    color:#8B8787;
    font-size:small;

}


    .cont1{
        margin-bottom: 10%;;
    }
    
    
    
    .hh1{
        text-align: center;
        }

        .hh2{
        
            width:40%;
            margin-left:30%;
        
        }
        @media only screen and(max-width:600px){
            .hh2{
                width:100%;
            
            }
        }

        .cardheading{
            margin-top:5%;
        }